.error-wiggle {
  animation: shake 700ms;
}

.ripple {
  background-position: center;
  transition: background 0.8s;
}

.ripple:hover {
  background: var(--white-1) radial-gradient(circle, transparent 1%, var(--white-1) 1%) center/15000%;
}

.ripple:active {
  background-color: rgba(255, 255, 255, 0.9);
  background-size: 100%;
  transition: background 0s;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-3px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(3px, 0, 0);
  }
}

.pulse {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes shimmer {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}

@keyframes ripple {
  0% {
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0);
  }
  50% {
    box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.1);
  }
  100% {
    box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* ----------------------------------------------------------- */
/* Bounce-tiny */
/* ----------------------------------------------------------- */
@keyframes bounce-tiny {
  from,
  20%,
  53%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -7px, 0) scaleY(1.1);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -3px, 0) scaleY(1.05);
  }

  80% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0) scaleY(0.95);
  }

  90% {
    transform: translate3d(0, -4px, 0) scaleY(1.02);
  }
}

.bounce-tiny {
  animation: bounce-tiny 1s infinite;
  transform-origin: center bottom;
}

/* ----------------------------------------------------------- */
/* Display an animated ellipsis on text                        */
/* example <span className="animatedEllipsis">Loading</animatedEllipsis> */
/* ----------------------------------------------------------- */
.animatedEllipsis:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  animation: animatedEllipsis steps(4, end) 1500ms infinite;
  content: '\2026'; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes animatedEllipsis {
  to {
    width: 20px;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
