@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");

html,
body,
button,
input,
optgroup,
select,
textarea {
  font-family: var(--font-stack);
  font-size: var(--font-size);
}

/* --------------------- */
/* Heading  */
/* --------------------- */
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-stack);
  font-size: 100%;
}

:root {
  --font-stack: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;

  --weight-regular: 300;
  --weight-medium: 400;
  --weight-bold: 700;

  /* ------------------------------------------ */
  /* SIZES */
  /* ------------------------------------------ */
  /* NORMAL */
  /* ------------------------------------------ */
  --font-size: 1rem;
  --font-line-height: 1.25rem;
  --font-letter-spacing: 0;
  --font-weight-medium: var(--weight-regular);

  --font-size-tablet: 1rem;
  --font-line-height-tablet: 1.25rem;
  --font-letter-spacing-tablet: 0;
  --font-weight-medium-tablet: var(--weight-regular);

  /* ------------------------------------------ */
  /* - TITLE */
  /* ------------------------------------------ */
  --font-size-title: 1.5rem;
  --font-line-height-title: 1.75rem;
  --font-title-letter-spacing: 0;
  --font-weight-title: var(--weight-bold);
}
